{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    {% load static %}
    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <!-- main css -->
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>Cook Accordingly</title>
  </head>
  <body>
        <!-- nav  -->
        <nav class="navbar">
          <div class="nav-center">
            <div class="nav-header">
              <a href="/" class="nav-logo">
                <img src="/static/assets/logo-no-background.png" alt="Cook Accordingly" />
              </a>
              <button class="nav-btn btn">
                <i class="fas fa-align-justify"></i>
              </button>
            </div>
            <div class="nav-links">
              <a href="/" class="nav-link"> home </a>
              <a href="/recipes" class="nav-link"> recipes </a>

            <form action="" method="POST">
              {% csrf_token %}
              <div class="nav-link contact-link">
                <input
                type="search"
                name = "q"
                placeholder="Search For Recipes"
              />
              <button type="" class="btn btn-primary">Search</button>
            </form>
              </div>
            </div>
          </div>
        </nav>   
      {% block list %} {% endblock list %}
      {% block singlerecie %} {% endblock singlerecie %}        
    
  </body>
</html>
